@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
	font-optical-sizing: auto;
	font-style: normal;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

pre {
	overflow-x: auto;
	font-size: 0.9em;
}

code {
	font-optical-sizing: auto;
}

pre, code {
	font-family: "JetBrains Mono", monospace;
	font-style: normal;
}

body {
	margin: 0 auto;
	padding: 1em;
	max-width: 900px;
}

.centerAlign {
	display: flex;
	justify-content: center;
}

img {
	max-width: 80%;
}

.pixel-art-tile {
	width: 100%;
}

.pixel-art-tile img {
	width: 128px;
	height: 128px;
	image-rendering: crisp-edges;
}

/* Code Highlighting */
pre .comment {
	color: grey;
}

pre .keyword, .type, .string {
	color: green;
	font-weight: bold;
}
